<div class="field">
    <input type="radio" id="flavour-chocolate" name="flavour" checked />
    <label for="flavour-chocolate">Chocolate</label>
</div>
<div class="field">
    <input type="radio" id="flavour-vanilla" name="flavour" />
    <label for="flavour-vanilla">Vanilla</label>
</div>
