button,
[type="submit"],
[type="reset"] {
    appearance: none;
    border: var(--ll-border-medium);
    border-radius: var(--ll-border-radius);
    border-style: solid;
    border-width: 0.125rem;
    display: inline-block;
    font-family: inherit;
    font-size: 100%;
    font-weight: 700;
    line-height: inherit;
    padding: var(--step--5) var(--step--4);
}

button,
[type="submit"] {
    background: var(--ll-text-color);
    color: var(--ll-background-color);
}

[type="reset"] {
    background: var(--ll-background-color);
    color: var(--ll-text-color);
}

button:focus,
[type="submit"]:focus,
[type="reset"]:focus {
    box-shadow: var(--ll-input-focus-box-shadow);
    outline: none;
}

button:active,
[type="submit"]:active {
    background: var(--ll-background-color);
    color: var(--ll-text-color);
}

[type="reset"]:active {
    background: var(--ll-text-color);
    color: var(--ll-background-color);
}

button.link {
    all: unset;
    text-decoration: underline;
}

button.link:focus {
    background-color: var(--ll-accent-color);
    border-radius: var(--ll-border-radius);
    box-shadow: var(--ll-link-focus-box-shadow);
    color: var(--ll-background-color);
    outline: none;
}

button.link:active {
    background-color: var(--ll-accent-color);
    border-radius: var(--ll-border-radius);
    box-shadow: var(--ll-link-focus-box-shadow);
    color: var(--ll-background-color);
}
