input[type="checkbox"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

input[type="checkbox"] + label {
    position: relative;
}

input[type="checkbox"] + label::before {
    align-items: center;
    border: var(--ll-border-medium);
    border-radius: var(--ll-border-radius);
    content: "\00a0";
    display: inline-flex;
    height: var(--step-1);
    justify-content: center;
    margin-block-end: calc(-1 * var(--step--5));
    margin-inline-end: var(--step--5);
    width: var(--step-1);
}

input[type="checkbox"]:focus + label::before {
    box-shadow: var(--ll-input-focus-box-shadow);
}

input[type="checkbox"]:active + label::before {
    box-shadow: var(--ll-input-focus-box-shadow);
}

input[type="checkbox"]:checked + label::after {
    border-bottom: 4px solid var(--ll-text-color);
    border-right: 4px solid var(--ll-text-color);
    content: "";
    display: inline-block;
    height: var(--step--1);
    left: 0.40625em;
    position: absolute;
    top: 0.25em;
    transform: rotate(45deg);
    width: var(--step--4);
}

.field--error input[type="checkbox"] + label::before {
    border-color: var(--ll-text-color-error);
}

.field--error input[type="checkbox"]:focus + label::before {
    box-shadow: var(--ll-input-focus-box-shadow-error);
}

.field--error input[type="checkbox"]:active + label::before {
    box-shadow: var(--ll-input-focus-box-shadow-error);
}

.field--error input[type="checkbox"]:checked + label::after {
    border-bottom-color: var(--ll-text-color-error);
    border-right-color: var(--ll-text-color-error);
}
