fieldset {
    border: none;
    padding: 0;
}

* + fieldset legend::before {
    border-bottom: var(--ll-border-medium);
    border-radius: var(--ll-border-radius);
    content: "";
    display: block;
    margin: var(--step-1) auto var(--step-2);
    width: 100%;
}

fieldset > * + * {
    margin-block-start: 0.5em;
}

legend {
    font-size: var(--step-1);
    font-weight: 700;
    padding: 0;
    width: 100%;
}

fieldset legend ~ .field label {
    font-size: var(--step-0);
}
