fieldset {
    border: var(--ll-border-medium);
    border-radius: var(--ll-border-radius);
}

fieldset > *:not(legend) + * {
    margin-block-start: 1em;
}

legend {
    font-weight: 700;
    padding-inline: var(--step--4);
}
