figure {
    margin: 0;
    padding: 0;
}

figure > * + * {
    margin-block-start: 1em;
}

figure img {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

figure img:not([alt]),
figure img[alt=""] {
    filter: blur(1em);
}

figcaption {
    font-size: var(--step--1);
    font-style: italic;
    text-align: center;
}
