ul,
ol {
    list-style: none;
    padding-inline-start: 0;
}

ul > li,
ol > li {
    padding-inline-start: var(--step-1);
    position: relative;
}

ul > li::before {
    content: "\2022";
    inset-inline-start: 0;
    opacity: 0.5;
    position: absolute;
}

ol > li::before {
    content: counter(list-item, decimal) ".";
    inset-inline-start: 0;
    opacity: 0.5;
    position: absolute;
}
