input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

input[type="radio"] + label::before {
    align-items: center;
    border: var(--ll-border-medium);
    border-radius: 50%;
    content: "\00a0";
    display: inline-flex;
    height: var(--step-1);
    justify-content: center;
    margin-block-end: calc(-1 * var(--step--5));
    margin-inline-end: var(--step--5);
    width: var(--step-1);
}

input[type="radio"]:focus + label::before {
    box-shadow: var(--ll-input-focus-box-shadow);
}

input[type="radio"]:active + label::before {
    box-shadow: var(--ll-input-focus-box-shadow);
}

input[type="radio"]:checked + label::before {
    background-color: var(--ll-text-color);
    box-shadow: 0 0 0 0.25rem var(--ll-background-color) inset;
}

input[type="radio"]:checked:focus + label::before,
input[type="radio"]:checked:active + label::before {
    background-color: var(--ll-text-color);
    box-shadow: var(--ll-input-focus-box-shadow), 0 0 0 0.25rem var(--ll-background-color) inset;
}
