<fieldset>
    <legend>{{ legend }}</legend>
    {%- for value, label in options -%}
    {%- render '@checkbox', {name: name, id: name + '-' + value, value: value, label: label}, true -%}
    {%- endfor -%}
</fieldset>
