<div class="field">
    <label for="flavour">Flavour</label>
    <select id="flavour" name="flavour">
        <option value=""></option>
        <option value="chocolate">Chocolate</option>
        <option value="vanilla">Vanilla</option>
        <option value="strawberry">Strawberry</option>
    </select>
</div>
