<p>Sometimes, a link <a href="#">appears within a paragraph</a> like that one just did. Other times, a link appears on a line by itself without any surrounding text:</p>

<p><a href="#">Continue</a></p>
