<p>
    <label for="{{ name }}">{{ label }}</label>
    <select id="{{ id if id else name }}" name="{{ name }}">
        {%- for value, label in options -%}
        <option value="{{ value }}"{% if default == value %} selected{% endif %}>{{ label }}</option>
        {%- endfor -%}
    </select>
</p>
