<p>Sometimes, a link {% render "@a", {content: "appears within a paragraph"}, true -%} like that one just did. Other times, a link appears on a line by itself without any surrounding text:</p>
<p>{% render "@a", {content: "Continue"}, true -%}</p>
<p>This is {% render "@a", {href: "/components/preview/link", content: "a link", ariaCurrent: "page"}, true -%} to the current page, rather than to a different page. It has the appropriate <code>aria-current="page"</code> attribute.
<p>This is a button-style link: {% render "@a", {content: "Cancel", class: "button"}, true -%}</p>
