:root {
    /* doxray
    label: font-family
    description: Looseleaf's default font stack uses [Comic Neue](http://comicneue.com/) for a casual, handwritten appearance and falls back to a [system font stack](https://css-tricks.com/snippets/css/system-font-stack/).
    */
    --ll-font-family: "Comic Neue", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", "Arial", sans-serif;

    /* doxray
    label: font-family-mono
    description: Looseleaf's default monospace font stack uses the same cross-platform monospace system font stack that is [used by GitHub](https://github.com/primer/css/blob/0298b69bda4c25ed252fbeb6ba2e3fcf4ff096d2/src/support/variables/typography.scss#L39).
    */
    --ll-font-family-mono: ui-monospace, "SFMono-Regular", "SF Mono", "Menlo", "Consolas", "Liberation Mono", monospace;

    /* doxray
    label: border-radius
    description: >
        Looseleaf's default [border radius](https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius) is based on [handdrawn.css](https://github.com/fxaeberhard/handdrawn.css/blob/master/scss/handdrawn.scss#L50-L57) and is shorthand for the following:

        ```css

        * {
            border-bottom-left-radius: 1rem 16rem;
            border-bottom-right-radius: 14rem 1rem;
            border-top-left-radius: 16rem 1rem;
            border-top-right-radius: 1rem 14rem;
        }

        ```
    */
    --ll-border-radius: 16rem 1rem 14rem 1rem / 1rem 14rem 1rem 16rem;

    /* doxray
    label: border-color
    description: The default border colour is black (`#000`). If a [theme border colour](#theme-border-color) is provided, it will be used instead.
    */
    --ll-border-color: var(--ll-theme-border-color, #000);

    /* doxray
    label: text-color
    description: The default text colour is black (`#000`). If a [theme text colour](#theme-text-color) is provided, it will be used instead.
    */
    --ll-text-color: var(--ll-theme-text-color, #000);

    /* doxray
    label: text-color-translucent
    description: The default text colour is black (`#000`); this variable is a translucent version for use in gradients. If a [theme translucent text colour](#theme-text-color-translucent) is provided, it will be used instead.
    */
    --ll-text-color-translucent: var(--ll-theme-text-color-translucent, rgba(0, 0, 0, 0.2));

    /* doxray
    label: text-color-transparent
    description: The default text colour is black (`#000`); this variable is a transparent version for use in gradients. If a [theme transparent text colour](#theme-text-color-transparent) is provided, it will be used instead.
    */
    --ll-text-color-transparent: var(--ll-theme-text-color-transparent, rgba(0, 0, 0, 0));

    /* doxray
    label: link-color
    description: Links use the default text colour. If a [theme link colour](#theme-link-color) is provided, it will be used instead.
    */
    --ll-link-color: var(--ll-theme-link-color, var(--ll-text-color));

    /* doxray
    label: link-visited-color
    description: Visited links use the default link colour. If a [theme link visited colour](#theme-link-visited-color) is provided, it will be used instead.
    */
    --ll-link-visited-color: var(--ll-theme-link-visited-color, var(--ll-link-color));

    /* doxray
    label: accent-color
    description: The accent colour is used for focus and active states on interactive elements such as buttons, links, and form controls. The default value is `hsl(225, 73%, 57%)` which is the equivalent of the `#4169e1` hex code. If a [theme accent colour](#theme-accent-color) is provided, it will be used instead.
    */
    --ll-accent-color: var(--ll-theme-accent-color, hsl(225, 73%, 57%));

    /* doxray
    label: background-color
    description: The default background colour is white (`#fff`). If a [theme background colour](#theme-background-color) is provided, it will be used instead.
    */
    --ll-background-color: var(--ll-theme-background-color, #fff);

    /* doxray
    label: background-color-transparent
    description: The default background colour is white (`#fff`); this variable is a transparent version for use in gradients. If a [theme transparent background colour](#theme-background-color-transparent) is provided, it will be used instead.
    */
    --ll-background-color-transparent: var(--ll-theme-background-color-transparent, rgba(255, 255, 255, 0));

    /* doxray
    label: accent-background-color
    description: The default accent background colour is `#ddd`. If a [theme accent background colour](#theme-acccent-background-color) is provided, it will be used instead.
    */
    --ll-accent-background-color: var(--ll-theme-accent-background-color, #ddd);

    /* doxray
    label: input-focus-box-shadow
    description: Focused inputs have their outline removed and instead use a focus ring created with a [box shadow](https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow). If a [theme input focus box shadow](#theme-input-focus-box-shadow) is provided, it will be used instead.
    */
    --ll-input-focus-box-shadow:
        var(
            --ll-theme-input-focus-box-shadow,
            0 0 0 0.125rem var(--ll-background-color),
            0 0 0 0.25rem var(--ll-accent-color)
        );

    /* doxray
    label: link-focus-box-shadow
    description: Focused links have their outline removed and instead use a focus ring created with a [box shadow](https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow). If a [theme link focus box shadow](#theme-link-focus-box-shadow) is provided, it will be used instead.
    */
    --ll-link-focus-box-shadow: var(--ll-theme-link-focus-box-shadow, 0 0 0 0.25rem var(--ll-accent-color));

    /* doxray
    label: border-thin
    description: Looseleaf's thin border has a `border-width` equivalent to 1px.
    */
    --ll-border-thin: 0.0625rem solid var(--ll-border-color);

    /* doxray
    label: border-medium
    description: Looseleaf's medium border has a `border-width` equivalent to 2px.
    */
    --ll-border-medium: 0.125rem solid var(--ll-border-color);

    /* doxray
    label: border-thick
    description: Looseleaf's thick border has a `border-width` equivalent to 3px.
    */
    --ll-border-thick: 0.1875rem solid var(--ll-border-color);

    /* ignore-doxray */
    --fluid-min-width: 320;
    --fluid-max-width: 1140;
    --fluid-screen: 100vw;
    --fluid-bp:
        calc(
            (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
            (var(--fluid-max-width) - var(--fluid-min-width))
        );
    --f--5-min: 8.04;
    --f--5-max: 7.86;
    --step--5:
        calc(
            ((var(--f--5-min) / 16) * 1rem) + (var(--f--5-max) - var(--f--5-min)) *
            var(--fluid-bp)
        );
    --f--4-min: 9.65;
    --f--4-max: 9.83;
    --step--4:
        calc(
            ((var(--f--4-min) / 16) * 1rem) + (var(--f--4-max) - var(--f--4-min)) *
            var(--fluid-bp)
        );
    --f--3-min: 11.57;
    --f--3-max: 12.29;
    --step--3:
        calc(
            ((var(--f--3-min) / 16) * 1rem) + (var(--f--3-max) - var(--f--3-min)) *
            var(--fluid-bp)
        );
    --f--2-min: 13.89;
    --f--2-max: 15.36;
    --step--2:
        calc(
            ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
            var(--fluid-bp)
        );
    --f--1-min: 16.67;
    --f--1-max: 19.2;
    --step--1:
        calc(
            ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
            var(--fluid-bp)
        );
    --f-0-min: 20;
    --f-0-max: 24;
    --step-0:
        calc(
            ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
            var(--fluid-bp)
        );
    --f-1-min: 24;
    --f-1-max: 30;
    --step-1:
        calc(
            ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
            var(--fluid-bp)
        );
    --f-2-min: 28.8;
    --f-2-max: 37.5;
    --step-2:
        calc(
            ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
            var(--fluid-bp)
        );
    --f-3-min: 34.56;
    --f-3-max: 46.88;
    --step-3:
        calc(
            ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
            var(--fluid-bp)
        );
    --f-4-min: 41.47;
    --f-4-max: 58.59;
    --step-4:
        calc(
            ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
            var(--fluid-bp)
        );
    --f-5-min: 49.77;
    --f-5-max: 73.24;
    --step-5:
        calc(
            ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
            var(--fluid-bp)
        );
}

@media screen and (min-width: 1140px) {
    :root {
        --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
}
