:root {
    --ll-font-family: "Comic Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    --ll-border-radius: 16rem 1rem 14rem 1rem / 1rem 14rem 1rem 16rem;
    --ll-border-color: var(--ll-theme-border-color, #000);
    --ll-text-color: var(--ll-theme-text-color, #000);
    --ll-link-color: var(--ll-theme-link-color, var(--ll-text-color));
    --ll-link-visited-color: var(--ll-theme-link-visited-color, var(--ll-link-color));
    --ll-accent-color: var(--ll-theme-accent-color, hsl(225, 73%, 57%));
    --ll-background-color: var(--ll-theme-background-color, #fff);
    --ll-input-focus-box-shadow: 0 0 0 0.125rem var(--ll-background-color), 0 0 0 0.25rem var(--ll-accent-color);
    --ll-link-focus-box-shadow: 0 0 0 0.25rem var(--ll-accent-color);
    --ll-border-thin: 0.0625rem solid var(--ll-border-color);
    --ll-border-medium: 0.125rem solid var(--ll-border-color);
    --ll-border-thick: 0.1875rem solid var(--ll-border-color);

    /**
     * Utopia
     *
     * @link https://utopia.fyi/generator-mk-ii/?c=320,20,1.2,1140,24,1.25,5,4,
     */
    --fluid-min-width: 320;
    --fluid-max-width: 1140;
    --fluid-screen: 100vw;
    --fluid-bp:
        calc(
            (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
            (var(--fluid-max-width) - var(--fluid-min-width))
        );
    --f--5-min: 8.04;
    --f--5-max: 7.86;
    --step--5:
        calc(
            ((var(--f--5-min) / 16) * 1rem) + (var(--f--5-max) - var(--f--5-min)) *
            var(--fluid-bp)
        );
    --f--4-min: 9.65;
    --f--4-max: 9.83;
    --step--4:
        calc(
            ((var(--f--4-min) / 16) * 1rem) + (var(--f--4-max) - var(--f--4-min)) *
            var(--fluid-bp)
        );
    --f--3-min: 11.57;
    --f--3-max: 12.29;
    --step--3:
        calc(
            ((var(--f--3-min) / 16) * 1rem) + (var(--f--3-max) - var(--f--3-min)) *
            var(--fluid-bp)
        );
    --f--2-min: 13.89;
    --f--2-max: 15.36;
    --step--2:
        calc(
            ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
            var(--fluid-bp)
        );
    --f--1-min: 16.67;
    --f--1-max: 19.2;
    --step--1:
        calc(
            ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
            var(--fluid-bp)
        );
    --f-0-min: 20;
    --f-0-max: 24;
    --step-0:
        calc(
            ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
            var(--fluid-bp)
        );
    --f-1-min: 24;
    --f-1-max: 30;
    --step-1:
        calc(
            ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
            var(--fluid-bp)
        );
    --f-2-min: 28.8;
    --f-2-max: 37.5;
    --step-2:
        calc(
            ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
            var(--fluid-bp)
        );
    --f-3-min: 34.56;
    --f-3-max: 46.88;
    --step-3:
        calc(
            ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
            var(--fluid-bp)
        );
    --f-4-min: 41.47;
    --f-4-max: 58.59;
    --step-4:
        calc(
            ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
            var(--fluid-bp)
        );
    --f-5-min: 49.77;
    --f-5-max: 73.24;
    --step-5:
        calc(
            ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
            var(--fluid-bp)
        );
}

@media screen and (min-width: 1140px) {
    :root {
        --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
}
